<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../assets/css/register-page.css" rel="stylesheet">
    <!-- CDN for fontAwesome -->
    <script src="https://kit.fontawesome.com/a371979621.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        var pwJ = /^[A-Za-z0-9]{4,12}$/;

        $(function () {
            $('#inputPassword').blur(function (){
                if (pwJ.test($('#inputPassword').val())) {
                    $('#passwordCheck').text(' ');
                } else {
                    $('#passwordCheck').text('숫자 or 문자로만 4~12자리 입력');
                    $('#passwordCheck').addClass('text-warning');
                }
            });

        });
    </script>

</head>

<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">로그인 해주세요.</h5>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address"
                                    required autofocus>
                                <label for="inputEmail">이메일 주소</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                required>
                            <label for="inputPassword">비밀번호</label>
                            <div class="check_font" id="passwordCheck"></div>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">비밀번호 저장</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">로그인</button>
                            <hr class="my-4">
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
                                    class="fab fa-google mr-2"></i> 구글로 로그인</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
                                    class="fab fa-facebook-f mr-2"></i> 페이스북으로 로그인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>