<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Post - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../assets/css/blog-post.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="../assets/img/logo-youngsu.png"></a>
      <a class="btn btn-primary" href="#">Sign In</a>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Sidebar Widgets Column -->
      <div class="col-lg-3">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new
            Bootstrap 4 card containers!
          </div>
        </div>

      </div>

      <!-- Post Content Column -->
      <div class="col-lg-9">

        <!-- Title -->
        <h1 class="mt-4">건강미 수영장</h1>

        <!-- Author -->
        <p class="lead">
          Adress:
          <a href="#">서울시 성동구 성수 1가 뚝섬로 1길</a>
        </p>
        <hr>

        <!-- Date/Time -->
        <p>Last updated on October 20, 2020 at 12:00 PM</p>
        <hr>

        <!--Scroll Navigation bar -->
        <div class="row">
          <div class="col-2 text-center bg-light">운영정보</div>
          <div class="col-2 text-center bg-light">휴관일</div>
          <div class="col-3 text-center bg-light">자유수영</div>
          <div class="col-2 text-center" style="background-color: skyblue;">시설정보</div>
          <div class="col-2 text-center bg-light">코멘트</div>
        </div>
        <hr>
        <!-- 5등분 커스텀 해야됨. -->

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- 기본 운영 정보 -->
        <div>
          <h3>운영정보 (imogi)자유수영 있음</h3>
          <p>
            체육관 운영 시간: 평일 06:00~20:00/ 2번째, 4번째 토요일 휴무/ 일요일 정상운영/ 공휴일 휴무
            <br>
            수영장 전화번호: 02-2920-2030(수영장 전용번호)
            <br>
            수영장 사이트:www.~!!~!\n
          </p>
        </div>
        <div class="row">
          <button>**휴관정보 추가/수정**</button>
          <p>(추가/수정을 눌러 본인 수영장 휴관정보 수정에 참여해주세요!)</p>
        </div>
        <hr>

        <!-- 휴관정보 -->
        <div>
          <h3>휴관일 (imogi)10월 20일 오늘 휴관</h3>
          <p>달력들어갈 공간(빨간색 표시는 휴관)</p>
        </div>
        <div class="row">
          <button>**휴관정보 추가/수정**</button>
          <p>(추가/수정을 눌러 본인 수영장 휴관정보 수정에 참여해주세요!)</p>
        </div>
        <hr>

        <!-- 자유수영 정보 -->
        <div>
          <h3>자유수영</h3>
          <p>타임 테이블 들어갈 공간</p>
        </div>
        <div class="row">
          <button>정보 수정 요청</button>
          <p>(이용 시간이 잘못 되었다면 수정 요청을 해주세요!)</p>
        </div>
        <hr>

        <!-- 기본 운영 정보 -->
        <h3>시설 정보</h3>
        <p>
          (imoji) 매점 (imojii) 연습용풀 (imoji) 킥판이용가능 (imoji)
        </p>
        <button>정보 추가/수정</button>
        <hr>

        <!-- 정보수정 요청멘트 -->
        <blockquote class="blockquote">
          <p class="mb-0">정보 수정에 참여 해주세요.</p>
        </blockquote>
        <p>저희 사이트는 이용자가 정보수정에 참여해주시지 않으면, 잘 돌아가지 않습니다..</p>
        <p>위의 업데이트 버튼을 클릭하여 같은 수영장에 다니는 분들에게 유용한 정보를 제공해주세요.</p>

    

        <hr>

        <!-- Comments Form -->
        <div class="container card my-4">
          <div class="card-header row">
            <h4 class="col-3">코멘트:</h4>
            <p class="col-9 text-right">(같은 수영장 사람들과 소통하세요)</p>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
            odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
            Donec
            lacinia congue felis in faucibus.
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
            odio,
            vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
            Donec
            lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>